<div class="container mt-4" id="Containesubmit">
    <!-- Submit a Ticket Modal -->
    <form class="pt-2" id="ticket-form">
        <div class="form-group">
            <label for="subject">Тема</label>
            <input type="text" class="form-control" id="subject" placeholder="Введите тему">
        </div>
    
        <div class="form-group">
            <div id="summernote"></div>
        </div>
        <button type="button" class="btn btn-primary" id="submit-button">Отправить</button>
    </form>    
</div>