<div class="container-fluid p-0 mt-4 d-flex justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12 p-4">
        <h1 class="text-center mb-4">Welcome to the Support Ticketing System</h1>
        <p class="mb-4">Thank you for using our support ticketing system.
            How may I assist you today?
            Please provide as much detail as possible about the issue you are experiencing so that I can better help
            you.
            If you have any relevant information or documents, please attach them to your message.
            Thank you for your cooperation..</p>
        <h2 class="mb-4">Recent Tickets:</h2>
        <hr>
    </div>
</div>

<div class="container-fluid p-0 mt-4 d-flex justify-content-center">
    <div class="col-md-8">

        <div id="ticketsupload">
        </div>



        <form class="pt-2">
            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" class="form-control" id="name" placeholder="Введите ваше имя">
            </div>
            <div class="form-group">
                <label for="email">Почта</label>
                <input type="email" class="form-control" id="email" placeholder="Введите вашу почту">
            </div>
            <div class="form-group">
                <label for="subject">Тема</label>
                <input type="text" class="form-control" id="subject" placeholder="Введите тему">
            </div>
            <div class="form-group">
                <div id="summernote"></div>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>

    </div>
</div>


<!-- <% for(var i=0; i<data.length; i++) { %>
    <div class="card mb-0">
        <div class="card-body d-flex">
            <div class="col-md-8">
                <a href="/page">
                    <h5 class="card-title">
                        <%= data[i].title %> <small class="text-muted">(<%= data[i].answers %> answers)</small>
                    </h5>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">Author: <%= data[i].author %>
                </h6>
                <p class="card-text"><small class="text-muted">Date: <%= data[i].date %></small></p>
            </div>
            <div id="themediv" class="card-body">
                <img class="imagesized d-block mx-auto" src="img/loced.png" alt="Centered image">
            </div>
        </div>
    </div>
    <% } %> -->