<!-- loop through the data and display a card for each item -->
<% for(var i=0; i<data.length; i++) { %>
    <div class="container-fluid p-0 mt-4 d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card mb-0">
                <div class="card-body d-flex">
                    <div class="col-md-8">
                        <a href="/page">
                            <h5 class="card-title">
                                <%= data[i].title %> <small class="text-muted">(<%= data[i].answers %> answers)</small>
                            </h5>
                        </a>
                        <h6 class="card-subtitle mb-2 text-muted">Author: <%= data[i].author %>
                        </h6>
                        <p class="card-text"><small class="text-muted">Date: <%= data[i].date %></small></p>
                    </div>
                    <div id="themediv" class="card-body">
                        <img class="imagesized d-block mx-auto" src="img/loced.png" alt="Centered image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>